{
  "env": {
    "browser": true
  },
  "extends": ["airbnb-standard"],
  "rules": {
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
