# Visual Studio
.vs/
.vscode/

# Django
db.sqlite3
staticfiles/
static/
obj/
tfrs.pyproj

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.env
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/

# VirtualEnv
venv/
functional-tests/.classpath
functional-tests/.project
functional-tests/.settings/org.eclipse.buildship.core.prefs
functional-tests/bin

.DS_Store
backend/api/fixtures/test_tfrs_users.json
frontend/sonar-runner/.gradle

# Gitbook
_book/

# Sonar settings
backend/sonar-runner/.settings/
frontend/sonar-runner/.settings/
sonar-runner/.settings/


# package-lock
package-lock.json
supervisord.pid
celerybeat.pid

# ignore openshift exports
openshift/templates/projects/mem-tfrs-tools/*
openshift/templates/projects/mem-tfrs-dev/*
openshift/templates/projects/mem-tfrs-test/*
openshift/templates/projects/mem-tfrs-prod/*

# dev
dev/
node_modules/

.sql.gz
*.sql