@import './variables.scss';

.fuel-suppliers {

  .new-fuel-supplier-modal {
  
    .field-container {
      margin-bottom: 1rem;
    
      label {
        position: absolute;
        width: 5rem;
      }
    }

    .input-container {
      margin-left: 6rem;
      
      input {
        width: 100%;
      }
    }

    .btn-container {
      text-align: right;
      margin-bottom: 1rem;

      .btn {
        margin: 0 0.5rem;
      }
    }
  }
}

.fuel-supplier-details {

  .fuel-supplier-info {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid $border-grey;
    border-radius: 5px;
  }

  .contacts .react-bs-table {
    max-height: 300px;
    overflow: auto;
  }
}