
.notifications {

  .form-group.form-group-sm.react-bs-table-search-form {
    float: right;
  }

  .row {
    margin: 0 -15px;
  }

  .react-bs-table {
    max-height: 500px;
    overflow: auto;
  }
}
