@import './variables.scss';
@import './mixins.scss';

.opportunities {

  h1 {
    margin-bottom: 3rem;
  }

  .our-opportunities-table, .open-opportunities-table {
    margin-bottom: 3rem;

    .header {
      display: inline-block;
    }
  }
}

.opportunity {

  .main-form {
    padding: 2rem;
    border: 1px solid $border-grey;
    border-radius: 5px;

    input, select {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .acknowledgement {
    padding: 1rem 8rem;

    @include mobile {
      padding: 1rem 2rem;
    }

    label {
      font-weight: normal;
    }
  }
}