@import './variables.scss';
@import './mixins.scss';

.opportunities {

  h1 {
    margin-bottom: 3rem;
  }

  .our-opportunities-table, .open-opportunities-table {
    margin-bottom: 3rem;

    .header {
      display: inline-block;
    }
  }
}

.opportunity {

  .main-form {
    padding: 2rem;
    border: 1px solid $border-grey;
    border-radius: 5px;

    input, select {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .acknowledgement {
    padding: 1rem 8rem;

    @include mobile {
      padding: 1rem 2rem;
    }

    label {
      font-weight: normal;
    }
  }

  .note {
    display: block;
    padding-bottom: 1rem;

    textarea {
      display: block;
      width: 100%;
    }
  }

  .opportunity-actions-container {
    text-align: right;

    .btn {
      margin-right: 0.5rem;

      @include mobile {
        width: 100%;
        margin: 0 0 0.5rem 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}