<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>GitHubHookRegisterProblemMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.164.3</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>0</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:kuanfandevops-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:plasticviking-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:kuanfandevops-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:plasticviking-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:kuanfandevops-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:plasticviking-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:kuanfandevops-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:plasticviking-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseItem:kuanfandevops-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseItem:plasticviking-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseOwn:kuanfandevops-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseOwn:plasticviking-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:amichard-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:dkelsey-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:kuanfandevops-admin-edit-view</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.Build:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.Build:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.Configure:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.Configure:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.Connect:jenkins-slave</permission>
    <permission>hudson.model.Computer.Connect:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.Connect:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.Create:jenkins-slave</permission>
    <permission>hudson.model.Computer.Create:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.Create:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.Delete:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.Delete:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.Disconnect:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.Disconnect:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.ExtendedRead:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.ExtendedRead:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Computer.Provision:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Computer.Provision:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Hudson.Administer:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Hudson.Administer:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Hudson.Read:amichard-edit-view</permission>
    <permission>hudson.model.Hudson.Read:dkelsey-view</permission>
    <permission>hudson.model.Hudson.Read:jenkins-slave</permission>
    <permission>hudson.model.Hudson.Read:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Hudson.Read:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Hudson.RunScripts:amichard-edit-view</permission>
    <permission>hudson.model.Hudson.RunScripts:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Hudson.RunScripts:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Hudson.UploadPlugins:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Hudson.UploadPlugins:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Build:amichard-edit-view</permission>
    <permission>hudson.model.Item.Build:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Build:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Cancel:amichard-edit-view</permission>
    <permission>hudson.model.Item.Cancel:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Cancel:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Configure:amichard-edit-view</permission>
    <permission>hudson.model.Item.Configure:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Configure:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Create:amichard-edit-view</permission>
    <permission>hudson.model.Item.Create:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Create:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Delete:amichard-edit-view</permission>
    <permission>hudson.model.Item.Delete:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Delete:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Discover:amichard-edit-view</permission>
    <permission>hudson.model.Item.Discover:dkelsey-view</permission>
    <permission>hudson.model.Item.Discover:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Discover:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.ExtendedRead:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.ExtendedRead:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Move:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Move:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Read:amichard-edit-view</permission>
    <permission>hudson.model.Item.Read:dkelsey-view</permission>
    <permission>hudson.model.Item.Read:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Read:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Item.Workspace:amichard-edit-view</permission>
    <permission>hudson.model.Item.Workspace:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Item.Workspace:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Run.Delete:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Run.Delete:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Run.Replay:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Run.Replay:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.Run.Update:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.Run.Update:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.View.Configure:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.View.Configure:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.View.Create:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.View.Create:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.View.Delete:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.View.Delete:plasticviking-admin-edit-view</permission>
    <permission>hudson.model.View.Read:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.model.View.Read:plasticviking-admin-edit-view</permission>
    <permission>hudson.scm.SCM.Tag:amichard-edit-view</permission>
    <permission>hudson.scm.SCM.Tag:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.scm.SCM.Tag:plasticviking-admin-edit-view</permission>
    <permission>hudson.security.Permission.FullControl:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.security.Permission.FullControl:plasticviking-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericConfigure:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericConfigure:plasticviking-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericCreate:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericCreate:plasticviking-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericDelete:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericDelete:plasticviking-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericRead:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericRead:plasticviking-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericUpdate:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericUpdate:plasticviking-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericWrite:kuanfandevops-admin-edit-view</permission>
    <permission>hudson.security.Permission.GenericWrite:plasticviking-admin-edit-view</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:kuanfandevops-admin-edit-view</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:plasticviking-admin-edit-view</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:kuanfandevops-admin-edit-view</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:plasticviking-admin-edit-view</permission>
  </authorizationStrategy>
  <securityRealm class="org.openshift.jenkins.plugins.openshiftlogin.OpenShiftOAuth2SecurityRealm" plugin="openshift-login@1.0.16">
    <defaultedServiceAccountDirectory>/run/secrets/kubernetes.io/serviceaccount</defaultedServiceAccountDirectory>
    <defaultedServiceAccountName>jenkins-basic</defaultedServiceAccountName>
    <defaultedServerPrefix>https://openshift.default.svc</defaultedServerPrefix>
    <defaultedRedirectURL>https://console.pathfinder.gov.bc.ca:8443</defaultedRedirectURL>
    <defaultedClientId>system:serviceaccount:mem-tfrs-tools:jenkins-basic</defaultedClientId>
    <defaultedClientSecret>eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJtZW0tdGZycy10b29scyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJqZW5raW5zLWJhc2ljLXRva2VuLTdjbXJsIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImplbmtpbnMtYmFzaWMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiIwYzRkOTVkYi01NTkxLTExZTktOWM5Yi0wMDUwNTY4MzQ4Y2MiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6bWVtLXRmcnMtdG9vbHM6amVua2lucy1iYXNpYyJ9.r3LZUzhYL_nS5Jg48O9lC1gzM4JzFZTQnLYg0oSyPyYgDMhJQNI9hawf4Hii7i7VKq3h9F94mg4xyusECBE89_uXxBkIeZce6iAGPlFfrgeRQLrPEH7njoF2FDpEF-VCKgrcXGsuyMXo325hKMye_BPRkiG9PYHuzbWIaaZ3OnbPJWJXOF6e6f_-7h7iddYoGSPG_DFy-0BPPN_231fXaeJlwXrkFNIFJ_Cb1lBVaC5p81eC87rbRkP_62NwqsJcfy-9x8zkUTc25X7-DJIzcCmPg-cbWxIJFyQgsn_ApXw2GYYCtPyS6asi2Iufyu28qxW2wwsVarlOLoD-Gx8IUA</defaultedClientSecret>
    <namespace>mem-tfrs-tools</namespace>
    <provider>
      <issuer>https://console.pathfinder.gov.bc.ca:8443</issuer>
      <authorization__endpoint>https://console.pathfinder.gov.bc.ca:8443/oauth/authorize</authorization__endpoint>
      <token__endpoint>https://console.pathfinder.gov.bc.ca:8443/oauth/token</token__endpoint>
    </provider>
    <filter/>
  </securityRealm>
  <disableRememberMe>true</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${JENKINS_HOME}/builds/${ITEM_FULL_NAME}</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.15.4">
      <name>openshift</name>
      <defaultsProviderTemplate></defaultsProviderTemplate>
      <templates/>
      <serverUrl></serverUrl>
      <skipTlsVerify>false</skipTlsVerify>
      <addMasterProxyEnvVars>false</addMasterProxyEnvVars>
      <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
      <jenkinsUrl>http://jenkins-basic.mem-tfrs-tools.svc:8080</jenkinsUrl>
      <jenkinsTunnel>jenkins-basic.mem-tfrs-tools.svc:50000</jenkinsTunnel>
      <containerCap>10</containerCap>
      <retentionTimeout>5</retentionTimeout>
      <connectTimeout>5</connectTimeout>
      <readTimeout>15</readTimeout>
      <usageRestricted>false</usageRestricted>
      <maxRequestsPerHost>32</maxRequestsPerHost>
      <waitForPodSec>600</waitForPodSec>
      <podRetention class="org.csanchez.jenkins.plugins.kubernetes.pod.retention.Never"/>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
    <string>JNLP3-connect</string>
  </disabledAgentProtocols>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>