apiVersion: v1
items:
- apiVersion: v1
  data:
    caddyfile: |-
      0.0.0.0:2015

      root /var/www/html

      log stdout

      errors stdout

      gzip

      proxy / http://{%REQUEST_LOGGER_SERVICE_HOST%}:{%REQUEST_LOGGER_SERVICE_PORT%} {
          transparent
      }
  kind: ConfigMap
  metadata:
    creationTimestamp: 2017-11-29T19:44:00Z
    name: caddyfile
    namespace: mem-tfrs-dev
    resourceVersion: "355715245"
    selfLink: /api/v1/namespaces/mem-tfrs-dev/configmaps/caddyfile
    uid: a5918f8d-d53d-11e7-9f70-005056832285
- apiVersion: v1
  data:
    reques_logger.py: "from flask import Flask, request\napp = Flask(__name__)\n\n@app.route('/',
      defaults={'path': ''})\n@app.route('/<path:path>')\ndef dump_headers(path):\n
      \ print(request.headers)\n  return str(request.headers), 200, {'Content-Type':
      'text/plain; charset=utf-8'}\n  "
  kind: ConfigMap
  metadata:
    creationTimestamp: 2017-12-08T23:04:23Z
    name: reques-logger
    namespace: mem-tfrs-dev
    resourceVersion: "283900340"
    selfLink: /api/v1/namespaces/mem-tfrs-dev/configmaps/reques-logger
    uid: 21a12d84-dc6c-11e7-9f70-005056832285
- apiVersion: v1
  data:
    filters.properties: "addport=6789\r\npass=pass123"
    key1: conifg3
  kind: ConfigMap
  metadata:
    creationTimestamp: 2017-11-10T00:27:11Z
    name: test-config
    namespace: mem-tfrs-dev
    resourceVersion: "355715246"
    selfLink: /api/v1/namespaces/mem-tfrs-dev/configmaps/test-config
    uid: e49b0bc1-c5ad-11e7-9b13-0050568348cc
kind: List
metadata: {}
resourceVersion: ""
selfLink: ""
