{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="main-content" role="main" class="contentPageMainColumn col-sm-12">
  <a id="main-content-anchor"></a>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>Account Balance</h2>
      <div>
        <div class="list-group">
          <a href="#" class="list-group-item" style="background: #f1f1f1; font-size: 16px;">
            <span class="badge" style="font-size: 16px;">50</span>
            Available Balance of Validated Credits
          </a>
          <a href="#" class="list-group-item">
            <span class="badge">55</span>
            Validated Credits
          </a>
          <a href="#" class="list-group-item">
            <span class="badge">5</span>
            Encumbered by Proposed Transfer
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a id="dashboard-notifications-header" href="/notifications" style="text-decoration: none;"><h2>Notifications</h2></a>
      <div class="list-group notification-list">
        {% for notification in notifications %}
        <a href="/notifications" class="list-group-item">
          <span class="notification-item">
            {{ notification.subject }}
          </span>
          <span class="pull-right">{{ notification.date }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Recent Account Activity</h2>
      <table id="recent-account-activity-table"></table>
    </div>
  </div>
</div>
<script>
var data = {{ table_data|safe }}
</script>
{% endblock %}
