{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="main-content" role="main" class="contentPageMainColumn col-sm-12">
  <a id="main-content-anchor"></a>
  <div class="row">
    <div class="col-xs-12 right-align">
      <p style="margin-bottom: 0;">Name</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>Account Balance</h2>
      <div>
        <div class="list-group">
          <a href="#" class="list-group-item" style="background: #f1f1f1; font-size: 16px;">
            <span class="badge" style="font-size: 16px;">50</span>
            Available Balance of Validated Credits
          </a>
          <a href="#" class="list-group-item">
            <span class="badge">55</span>
            Validated Credits
          </a>
          <a href="#" class="list-group-item">
            <span class="badge">5</span>
            Encumbered by Proposed Transfer
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2><a id="dashboard-notifications-header" href="/notifications">Notifications</a></h2>
      <div class="list-group notification-list">
        <a href="/notifications" class="list-group-item">
          <span class="notification-item">
            Credit Transfer Proposed
          </span>
          <span class="pull-right">5 dys ago</span>
        </a>
        <a href="/notifications" class="list-group-item">
          <span class="notification-item">
            Credits Awarded - Fuel Supply
          </span>
          <span class="pull-right">2 wks ago</span>
        </a>
        <a href="/notifications" class="list-group-item">
          <span class="notification-item">
            Credits Awarded - Part 3
          </span>
          <span class="pull-right">2 wks ago</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Recent Account Activity</h2>
      <table id="fuelSupplyTable">
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block template_scripts %}
<script>
var data = {{ table_data|safe }}
var columns = [
        [{
                "field": "transaction.fuelSupplier",
                "title": "Fuel Supplier",
                "colspan": 1,
                "sortable": true,
                "rowspan": 1
        }, {
        "field": "transaction.status",
        "title": "Status",
        "sortable": true,
        "colspan": 1,
        "rowspan": 1
}, {
        "field": "transaction.compliancePeriod",
        "title": "Compliance Period",
        "sortable": true,
        "colspan": 1,
        "rowspan": 1
}, {
        "field": "transaction.effectiveDate",
        "title": "Date",
        "sortable": true,
        "colspan": 1,
        "rowspan": 1
},
{
        "field": "transaction.type",
        "title": "Transaction Type",
        "colspan": 1,
        "sortable": true,
        "rowspan": 1
}, {
        "field": "transaction.partner",
        "title": "Transaction Partner",
        "sortable": true,
        "colspan": 1,
        "rowspan": 1
}, {
        "field": "transaction.quantity",
        "title": "Number of Credits",
        "sortable": true,
        "colspan": 1,
        "rowspan": 1
}, {
        "field": "transaction.fairMarketValue",
        "title": "Fair Market Value Per Credit",
        "sortable": true,
        "colspan": 1,
        "rowspan": 1
}, {
        "field": "transaction.balance",
        "title": "Balance",
        "sortable": true,
        "colspan": 1,
        "rowspan": 1
}]
];

$(function() {
        $('#fuelSupplyTable').bootstrapTable({
                data: data,
                columns: columns,
        });
});
</script>
{% endblock %}
