{% extends "base.html" %}

{% block title %}Edit Transaction{% endblock %}

{% block content %}
<div id="main-content" role="main" class="contentPageMainColumn col-sm-12">
  <a id="main-content-anchor"></a>
  <h1>Edit Transaction</h1>

  <div class="row well">
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-12 col-sm-4">	  
        <label for="fueltype">Transfer Partner:</label>
      </div>
      </p>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <div class="input-group">
            <select class="form-control">
              <option selected disabled>Select a Transaction Partner</option>
              <option>Chevron</option>
              <option>Esso</option>
              <option>Exxon</option>
              <option>Huskey</option>
              <option>Suncor</option>
            </select>
            <span class="input-group-btn">
              <button data-toggle="modal" data-target="#partnerNotFound" class="btn btn-default" type="button">Not Listed?</button>
            </span>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-12 col-sm-4">	  
        <label for="fueltype">Transaction Partner Address: </label>
      </div>
      </p>
      <p>
      <div class="col-xs-12 col-sm-8">
        1234 Douglas Road, V3G 6N1, Victoria, BC
      </div> 
      </p>
    </div>
  </div>
  <div class="row well" style="margin-top: 20px">
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-12 col-sm-4">	  
        <label for="fueltype">Transaction Type: </label>
      </div>
      </p>
      <div class="col-xs-12 col-sm-8">
        <select class="form-control">
          <option selected disabled>Select a Transaction Type</option>
          <option>Purchase from Transaction Partner</option>
          <option>Sale to Transaction Partner</option>
          <option>Retire Credits</option>
          <option>Validated From Fuel Supply</option>
          <option>Adjustment</option>
          <option>Awarded from Part 3 Agreement</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-12 col-sm-4">
        <label>Credits Transfer Quantity:</label>
      </div>
      </p>
      <div class="col-xs-12 col-sm-8">
        <input type="number" id="creditsTransfered" class="form-control" min="0" placeholder="Specify the Credits Transfer Quantity">
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-12 col-sm-4">
        <label>Fair Market Value Per Credit (CAD):</label>
      </div>
      </p>
      <div class="col-xs-12 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" id="marketValue" min="0" class="form-control" placeholder="Specify the Fair Market Value Per Credit">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-12 col-sm-4">
        <label>Total Value of Transaction:</label>
      </div>
      </p>
      <p>
      <div id="totalTransactionValue" class="col-xs-12 col-sm-8">
        $0
      </div>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-12 col-sm-4">	  
        <label for="fueltype">Compliance Period: </label>
      </div>
      </p>
      <div class="col-xs-12 col-sm-8">
        <select class="form-control">
          <option selected disabled>Select a Compliance Period</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2013-2014</option>
          <option>2012-2013</option>
          <option>2011</option>
          <option>2010</option>
        </select>
      </div>
    </div>
    <div class="horizontal-line col-xs-12"></div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-12 col-sm-4">
        <label for="supplyinbc">Effective Date</label>
      </div>
      </p>
      <div class="col-xs-12 col-sm-8">
        <div class="btn-group btn-toggle" data-toggle="collapse" data-target="#datepicker">
          <button class="btn btn-sm btn-primary">UPON DIRECTORS APPROVAL</button>
          <button class="btn btn-sm btn-default">LATER DATE</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 collapse" id="datepicker">
      <p>
      <div class="col-xs-12 col-sm-4">	  
        <label for="fueltype">Specify Effective Date: </label>
      </div>
      </p>
      <div class="col-xs-12 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <input type="text" id="effectiveDate" class="form-control" placeholder="Specify the Effective Date">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 10px; text-align: right;">
    <a id="new-transaction-complete" href="/transaction-summary" style="margin-right: 5px" type="button" class="btn btn-success">Review and Complete</a>
    <a id="new-transaction-save" href="/transaction-summary" style="margin-right: 5px" type="button" class="btn btn-primary">Save as Draft</a>
    <a id="new-transaction-cancel" href="/" type="button" class="btn btn-default">Cancel</a>
  </div>
</div>
    <div class="modal fade" id="partnerNotFound" tabindex="-1" role="dialog" aria-labelledby="partnerNotFound">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Can't Find Partner?</h4>
          </div>
          <div class="modal-body">
            <h4>Lorem ipsum dolor sit amet, consectetur</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et ex quis nunc iaculis vulputate quis at dui. Maecenas posuere diam ligula, vel faucibus ex blandit elementum. Duis ac sem vel nibh efficitur ultrices quis et mauris. Integer ac enim semper, convallis justo vitae, viverra lorem. Mauris nec fringilla sem, et fringilla est. Aenean commodo urna in felis ornare, ac bibendum nunc mollis. Vivamus sit amet euismod augue. Sed vitae magna nibh. In fringilla ultricies tortor, ut gravida mi tincidunt in. Nulla interdum magna quis ligula egestas, in lacinia dui sagittis.</p>
            <p>Morbi placerat ex ac ornare semper. Mauris in velit at purus tincidunt ultricies. Integer tellus magna, viverra ut leo vitae, ultricies vestibulum risus. Cras non varius dolor. Praesent vulputate semper nibh. Maecenas consequat, dui id sollicitudin pharetra, tellus eros ornare nibh, at scelerisque felis dolor id nulla. Praesent eros ex, cursus sit amet consequat et, feugiat sed enim. Nullam sit amet augue malesuada, cursus est ut, feugiat sapien. Nam sed odio facilisis, pharetra mauris eget, consequat erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut ut lectus sapien. Maecenas eu congue tortor, euismod luctus tortor. Praesent dictum tellus a pulvinar bibendum. Duis interdum nulla vel pharetra ultricies. Aenean in tempor quam. Vestibulum porttitor est sit amet bibendum vulputate.</p>
            <p>Aliquam vel tortor a magna molestie lobortis sit amet nec leo. Integer velit elit, pellentesque a est quis, ultricies porta libero. Donec at ex at risus imperdiet finibus. In sit amet suscipit massa. Donec sit amet elit nec mauris gravida condimentum. Morbi lobortis, orci sed cursus molestie, justo mauris ornare odio, sit amet auctor mauris sem eu enim. Nunc nec dignissim eros.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Contact</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div> 
      </div>
    </div>
{% endblock %}
