{% extends "base.html" %}

{% block title %}Transaction Summary{% endblock %}

{% block content %}
<div id="main-content" role="main" class="contentPageMainColumn col-sm-12">
  <a id="main-content-anchor"></a>
  <h1>New Transaction</h1>

  <div class="row well">
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-4">	  
        <label for="fueltype">Transaction Partner: </label>
      </div>
      </p>
      <p>
      <div class="col-xs-8">
        Chevron
      </div> 
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-4">	  
        <label for="fueltype">Transaction Partner Address: </label>
      </div>
      </p>
      <p>
      <div class="col-xs-8">
        1234 Douglas Road, V3G 6N1, Victoria, BC
      </div> 
      </p>
    </div>
  </div>
  <div class="row well" style="margin-top: 20px">
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-4">	  
        <label for="fueltype">Transaction Type: </label>
      </div>
      </p>
      <p>
      <div class="col-xs-8">
        Purchase
      </div>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-4">
        <label>Credits Transfer Quantity:</label>
      </div>
      </p>
      <p>
      <div class="col-xs-8">
        2000
      </div>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-4">
        <label>Fair Market Value Per Credit (CAD):</label>
      </div>
      </p>
      <p>
      <div class="col-xs-8">
        $20,000
      </div>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-4">
        <label>Total Value of Transaction:</label>
      </div>
      </p>
      <p id="totalTransactionValue">
      <div class="col-xs-8">
        $0
      </div>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 transaction-item" id="fuelType">
      <p>
      <div class="col-xs-4">	  
        <label for="fueltype">Compliance Period: </label>
      </div>
      </p>
      <p>
      <div class="col-xs-8">
        January 2015
      </div>
      </p>
    </div>
    <div class="horizontal-line col-xs-12"></div>
    <div class="col-xs-12 col-lg-6 transaction-item">
      <p>
      <div class="col-xs-4">
        <label for="supplyinbc">Effective Date</label>
      </div>
      </p>
      <p>
      <div class="col-xs-8">
        Upon Directors Approval
      </div>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 collapse" id="datepicker">
      <p>
      <div class="col-xs-4">	  
        <label for="fueltype">Specify Effective Date: </label>
      </div>
      </p>
      <div class="col-xs-8">
        <input type="text" id="effectiveDate" class="form-control" placeholder="Specify the Effective Date">
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 10px; text-align: right;">
    <button style="margin-right: 5px" type="button" class="btn btn-success">Authorize</button>
    <button style="margin-right: 5px" type="button" class="btn btn-success">Approve</button>
    <button style="margin-right: 5px" type="button" class="btn btn-primary">Edit</button>
    <button style="margin-right: 5px" type="button" class="btn btn-danger">Reject</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </div>
</div>
    <div class="modal fade" id="partnerNotFound" tabindex="-1" role="dialog" aria-labelledby="partnerNotFound">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Can't Find Partner?</h4>
          </div>
          <div class="modal-body">
            <h4>Lorem ipsum dolor sit amet, consectetur</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et ex quis nunc iaculis vulputate quis at dui. Maecenas posuere diam ligula, vel faucibus ex blandit elementum. Duis ac sem vel nibh efficitur ultrices quis et mauris. Integer ac enim semper, convallis justo vitae, viverra lorem. Mauris nec fringilla sem, et fringilla est. Aenean commodo urna in felis ornare, ac bibendum nunc mollis. Vivamus sit amet euismod augue. Sed vitae magna nibh. In fringilla ultricies tortor, ut gravida mi tincidunt in. Nulla interdum magna quis ligula egestas, in lacinia dui sagittis.</p>

            <p>Morbi placerat ex ac ornare semper. Mauris in velit at purus tincidunt ultricies. Integer tellus magna, viverra ut leo vitae, ultricies vestibulum risus. Cras non varius dolor. Praesent vulputate semper nibh. Maecenas consequat, dui id sollicitudin pharetra, tellus eros ornare nibh, at scelerisque felis dolor id nulla. Praesent eros ex, cursus sit amet consequat et, feugiat sed enim. Nullam sit amet augue malesuada, cursus est ut, feugiat sapien. Nam sed odio facilisis, pharetra mauris eget, consequat erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut ut lectus sapien. Maecenas eu congue tortor, euismod luctus tortor. Praesent dictum tellus a pulvinar bibendum. Duis interdum nulla vel pharetra ultricies. Aenean in tempor quam. Vestibulum porttitor est sit amet bibendum vulputate.</p>

            <p>Aliquam vel tortor a magna molestie lobortis sit amet nec leo. Integer velit elit, pellentesque a est quis, ultricies porta libero. Donec at ex at risus imperdiet finibus. In sit amet suscipit massa. Donec sit amet elit nec mauris gravida condimentum. Morbi lobortis, orci sed cursus molestie, justo mauris ornare odio, sit amet auctor mauris sem eu enim. Nunc nec dignissim eros.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Contact</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div> 
      </div>
    </div>
{% endblock %}
