@import './mixins.scss';
@import './variables.scss';

#footerAdminLinks {
  color: $white;
  text-align: right;

  div {
    padding: 12px 10px;
  }

  ul {
    float: left;
  }
}

.capitalized {
  text-transform: capitalize;
}

.btn-disabled {
  background-color: $grey;
}

.error-alert {
  font-size: 1.5rem;
  padding-left: 6rem; /* allocate space for icon */
  position: relative;

  &:before {
    @include vertical-middle {
      font-size: 5rem;
      left: 0;
      text-align: center;
      width: 8rem;
    }
  }
}

.panel {
  &.panel-danger {
    border-color: $red;
    border-radius: 0.5rem;
    color: $red;
  }

  &.panel-success {
    border-color: $green;
    border-radius: 0.5rem;
    color: $green;
  }

  &.panel-warning {
    border-color: $dark-yellow;
    border-radius: 0.5rem;
  }

  .panel-body {
    ul {
      margin: 0;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .fa-circle-notch { // Loading icon
      font-size: 3rem;
    }
  }

  .panel-title {
    font-size: 2rem;
    position: relative;

    button {
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      vertical-align: middle;

      &.toggle {
        padding: 0 0.5rem;
        position: absolute;
        right: 0;
      }
    }
  }
}