.page-compliance-reporting {
  h2 {
    margin-top: 2rem;
  }

  > div.row {
    margin-left: -15px;
    margin-right: -15px;

    .ReactTable {
      margin-bottom: 2rem;

      .has-revised-value svg, .spacer {
        color: $blue;
        display: inline-block;
        width: 2.5rem;
      }
    }
  }

  .rt-resizable-header-content {
    height: 100%;

    .header-compliance-period, .header-fuel {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }

  .col-compliance-period, .col-diesel, .col-gasoline, .col-density {
    text-align: right;
  }

  .col-date, .col-status, .col-compliance-year {
    text-align: center;
  }

  .right-toolbar-container .actions-container {
    margin-bottom: 1rem;

    #new-compliance-report, #new-exclusion-report {
      margin: 0;
    }
  }

  .unit-of-measure {
    border-top: 1px solid $border-grey;
  }
}

.page-compliance-reporting-details {
  .compliance-reporting-details {
    margin-left: -15px;
    margin-right: -15px;

    label {
      font-weight: normal;

      div.value {
        font-weight: bold;
        min-height: 2.5rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}

.page-admin-compliance-reporting-details {
  label {
    font-weight: normal;
    width: 100%;

    div.value {
      font-weight: bold;
      min-height: 2.5rem;
      padding: 0.5rem 1rem;
    }
  }

  .border-box {
    border: 1px solid $border-grey;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;

    &.row {
      margin-bottom: 15px;
      padding-top: 15px;
    }

    label {
      margin-bottom: 0;
    }
  }

  .btn-container {
    position: relative;
    text-align: right;
    z-index: 100;
  }

  .compliance-period {
    font-size: 1.75rem;
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;

    .row .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.page-compliance-reporting-intro {
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 1rem;
    text-align: center;
    text-decoration: underline;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 3rem;
    text-align: center;
  }

  h3 {
    font-weight: bold;
    margin-top: 3rem;
  }

  p {
    margin: 0 0 2rem;
  }
}

#citabs {
  .col-date {
    text-align: right;
  }

  .nav-tabs {
    margin: 0 -3rem 2rem;
    padding: 0 3rem;
  }
}
