.page-compliance-reporting {
  .unit-of-measure {
    border-top: 1px solid $border-grey;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }

  .col-diesel, .col-gasoline {
    text-align: right;
  }
}