.credit-transaction-requests {
  .credit-transaction-requests-actions {
    .btn-container {
      text-align: right;
    }  
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;

    label {
      font-weight: normal;
      width: 100%;
    }

    .btn-group {
      display: block;

      .btn {
        margin-right: 0;
      }
    }

    .files {
      list-style-position: outside;
      list-style-type: none;
      padding: 0;

      li {
        padding: 0.25rem 0 0.25rem 3rem;
        position: relative;

        button {
          border: 0;
          color: $red;
        }

        span {
          vertical-align: middle;
        }

        .error-message {
          color: $red;
          font-style: italic;
        }

        .filename {
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          vertical-align: middle;
        }

        .icon {
          bottom: 0;
          display: flex;
          height: 100%;
          left: 0;
          position: absolute;
          text-align: center;
          top: 0;
          width: 2rem;

          svg {
            align-self: center;
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
    }
  }
}

.page-credit-transaction-request-details {
  .btn-container {
    text-align: right;
  }

  .credit-transaction-request-details {
    label {
      font-weight: normal;
    }

    .row.comment-form {
      margin-left: 0;
      margin-right: 0;

      .disclosure-notice {
        margin-right: 2rem;
        margin-top: 2rem;
      }

      .note {
        padding-bottom: 1rem;

        label {
          width: 100%;
        }
      }
    }

    .row {
      margin-left: -15px;
      margin-right: -15px;
    }

    .value {
      font-weight: bold;

      &.files {
        list-style-position: outside;
        list-style-type: none;
        padding: 0;

        li {
          padding: 0.25rem 0 0.25rem 3rem;
          position: relative;

          button {
            border: 0;
            color: $link-color;
            max-width: 100%;
            overflow: hidden;
            padding: 0;
            text-align: left;
            text-overflow: ellipsis;
    
            &:hover {
              color: $link-color-hover;
            }
          }

          .icon {
            bottom: 0;
            color: $link-color;
            display: flex;
            height: 100%;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 2rem;

            svg {
              align-self: center;
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }
    }

    div.value {
      padding: 0.5rem 1rem;
    }
  }
}