.credit-transaction-requests {
  .credit-transaction-requests-actions {
    .btn-container {
      text-align: right;
    }  
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;

    label {
      font-weight: normal;
      width: 100%;
    }

    .btn-group {
      display: block;

      .btn {
        margin-right: 0;

        &.active:disabled { /* remove hover effects */
          background-color: #e6e6e6;
          border-color: #adadad;
        }
      }
    }
  }
}

.page-credit-transaction-request-details {
  .btn-container {
    text-align: right;
  }

  .credit-transaction-request-details {
    label {
      font-weight: normal;
    }

    .row.comment-form {
      margin-left: 0;
      margin-right: 0;

      .disclosure-notice {
        margin-right: 2rem;
        margin-top: 2rem;
      }

      .note {
        padding-bottom: 1rem;

        label {
          width: 100%;
        }
      }
    }

    .row {
      margin-left: -15px;
      margin-right: -15px;
    }

    .value {
      font-weight: bold;
    }

    div.value {
      padding: 0.5rem 1rem;
    }
  }
}

.file-submission-attachments {
  padding: 0 1rem;

  &.hide-security-scan {
    .security-scan-status {
      display: none;
    }
  }

  &.hide-trim {
    .trim-record-number {
      display: none;
    }
  }

  button {
    background-color: transparent;
    border: 0;
  }

  .actions {
    padding: 0;

    button {
      color: $red;
      padding: 0;
      vertical-align: middle;
  
      &:hover {
        color: $dark-red;
      }
    }
  }

  .filename {
    position: relative;

    button.text {
      color: $link-color;
      margin: 1px 0;
      padding-bottom: 0;
      padding-top: 0;

      &:hover {
        color: $link-color-hover;
      }
    }

    .icon {
      bottom: 0;
      color: $link-color;
      height: 100%;
      position: absolute;
      text-align: center;
      top: 0;
      width: 2rem;

      svg {
        align-self: center;
        margin-left: auto;
        margin-right: 0;
        vertical-align: middle;
      }
    }

    .text {
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding-left: 2rem;
      text-align: left;
      text-overflow: ellipsis;
    }

    span.text {
      margin: 1px 0;
    }
  }

  .header {
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .row {
    display: flex;
    align-items: center;

    &:nth-of-type(even) {
      background-color: $background-grey;
    }
  }

  .security-scan-status {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;

    svg {
      vertical-align: middle;
    }
  }

  .size {
    span {
      vertical-align: middle;
    }
  }

  .trim-record-number {
    padding: 0.5rem;
  }
}