.credit-transaction {
  .credit-transfer-actions {
    .btn-container {
      text-align: right;
    }  
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;

    label {
      font-weight: normal;
      width: 100%;
    }

    .btn-group {
      display: block;

      .btn {
        margin-right: 0;
      }
    }

    .note {
      margin: 0;
      padding: 0;
    }
  }
}