.dashboard-card {
  background-color: $background-grey;
  color: $blue;
  font-size: 1.8rem;
  margin: 0 auto 2rem;
  padding: 2rem;
  text-align: center;

  &.balance .credit-market-report {
    margin-top: 2rem;
  }

  &.feedback {
    a {
      display: inline;
      vertical-align: unset;
    }

    h2 {
      margin: 1.5rem 0;
    }

    svg {
      font-size: 5rem;
    }
  }

  a {
    text-decoration: underline;
    vertical-align: middle;
  }

  div {
    line-height: 3rem;
  }

  h1, h2 {
    color: $blue;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    padding: 0;
  }
  span {
    font-size: 1.8rem;
  }

  h2 {
    font-weight: bold;
  }

  svg {
    color: $dark-yellow;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 1rem;
    vertical-align: middle;
  }

  .value {
    color: $dark-yellow;
    font-size: 3.6rem;
    line-height: 4rem;

    &.smaller-text {
      font-size: 2.5rem;

      svg {
        font-size: 2rem;
      }
    }
  }
}

.dashboard-fieldset {
  border: 1px solid $font;
  font-size: 1.8rem;
  margin: 0 auto 4rem;
  padding: 2rem;
  position: relative;

  a {
    text-decoration: underline;
  }

  button {
    background-color: transparent;
    border: none;
    color: $link-color;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: left;
    text-decoration: underline;

    &:hover, &:focus {
      color: $link-color-hover-dark;
      text-decoration: underline;
    }
  }

  > div {
    position: relative;

    &:last-child > div.content {
      padding-bottom: 0;
    }
  }

  h1 {
    background-color: $white; 
    color: $font;
    font-size: 2.4rem;
    padding: 0 0.5rem;
    position: absolute;
    top: -1.5rem;
    left: 2rem;
  }

  &.administration {
    .icon {
      color: $dark-yellow;
      font-size: 5rem;
      left: 3rem;
      position: absolute;
      top: 3rem;
    }
  }

  &.director {
    .content{
      margin-left: 4rem;
      >div {
        margin: 2rem 0 0;
        display: flex;
        align-items: center;
        gap: 15px;

        >span {
          color: #5a7a79;
          font-size: 32px;
        }
      }
    }
  }

  &.organization-details {
    .content {
      margin-left: 0;
      padding: 1.5rem 0 0;

    }

    .icon {
      color: $dark-yellow;
      display: inline-block;
      font-size: 4rem;
      position: absolute;
      right: 2rem;
      top: 15rem;
    }
  }

  &.part-3-agreements {
    .icon {
      color: $dark-yellow;
      display: inline-block;
      font-size: 3.6rem;
      position: absolute;
      text-align: center;
      vertical-align: top;
      width: 7rem;

      .icon-secure {
        font-size: 1.5rem;
        left: 0.5rem;
        position: absolute;
        top: 1rem;
      }
    }
  }

  &.user-settings {
    .icon {
      color: $dark-yellow;
      display: inline-block;
      font-size: 4rem;
      position: absolute;
      right: 2rem;
      top: 0;
    }
  }

  .add-button {
    background-color: $white;
    bottom: -1.75rem;
    padding: 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    white-space: nowrap;

    svg {
      color: $dark-yellow;
    }
  }

  .content {
    margin-left: 7rem;
    position: relative;
  //   margin-top: -18px;
  //  padding: 1.5rem 1rem 1rem;

    > a {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      color: $dark-yellow;
      display: inline-block;
      font-size: 2.5rem;
      margin: 0 1rem;
      vertical-align: middle;
    }
  }
.btn-text{
  display: flex;
  }
  .value {
    color: $dark-yellow;
    display: inline-block;
    font-size: 3.6rem;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 7rem;
  }
}

.dashboard-page .text-center {
  margin-bottom: 2rem;
}