@import './variables.scss';
@import './mixins.scss';

.page-admin-fuel-code {
  label {
    font-weight: normal;
    width: 100%;
  }

  .btn-container {
    position: relative;
    text-align: right;
    z-index: 100;
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.page-fuel-codes {
  .col-id, .col-carbon-intensity, .col-date {
    text-align: right;
  }

  .col-status {
    text-align: center;
  }

  .right-toolbar-container .actions-container {
    margin-bottom: 1rem;
  }
}

.page-fuel-code-details {
  .btn-container {
    text-align: right;
  }

  .fuel-code-details {
    div.value {
      font-weight: normal;
      padding: 0.5rem 1rem;
    }  
  }
}

.adjust-tooltip {
  z-index: 99;

  .tooltip-inner, .tooltip-arrow {
    margin-bottom: 1.5rem;
  }
}