@import './variables.scss';

.historical-data-entry {
  label {
    display: block;
    font-weight: normal;

    > div.btn-group {
      display: block;

      &:after {
        clear: both;
        content: "";
        display: block;
      }
    }
  }

  .btn-container {
    text-align: right;
  }

  .btn-group .btn {
    margin-right: 0;
  }

  .dollar-per-credit {
    border: 0;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    font-weight: bold;
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;
  }

  .note {
    textarea {
      resize: none;
    }
  }

  .zero-reason {
    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
      background-color: #fff;
      border-color: #ccc;
    }
  }
}

.historical-data-entry-actions {
  margin-top: 15px;

  .btn-container {    
    text-align: right;
  }
}

.page_historical_data_entry {
  .rt-table {
    .col-actions {
      text-align: center;

      .action {
        background-color: transparent;
        border: 0;
        color: $link-color;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 0;

        .fa-minus-circle {
          color: $red;
        }
      }
    }

    .col-credits, .col-price {
      text-align: right;
    }

    .col-effective-date, .col-id, .col-zero-reason {
      text-align: center;
    }

    .greyed-out {
      color: #CCCCCC;
    }
  }
}

#confirmProcess {
  .modal-dialog {
    overflow-y: initial !important
  }

  .modal-body {
    max-height: 40vh;
    overflow-y: auto;
  }
}