@import './variables.scss';

.historical-data-entry {
  label {
    display: block;
    font-weight: normal;

    > div.btn-group {
      display: block;

      &:after {
        clear: both;
        content: "";
        display: block;
      }
    }
  }

  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    background-color: #fff;
    border-color: #ccc;
  }

  .btn-container {
    text-align: right;
  }

  .btn-group .btn {
    margin-right: 0;
  }

  .dollar-per-credit {
    border: 0;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    font-weight: bold;
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;
  }

  .note {
    textarea {
      resize: none;
    }
  }
}

.historical-data-entry-actions {
  margin-top: 15px;

  .btn-container {    
    text-align: right;
  }
}

.page_historical_data_entry {
  .rt-table {
    .col-actions {
      text-align: center;

      .action {
        border: 0;
        color: #1a5a96;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }

    .col-credits, .col-price {
      text-align: right;
    }

    .col-compliance-period, .col-effective-date, .col-id, .col-transfer-type, .col-zero-reason {
      text-align: center;
    }

    .greyed-out {
      color: #CCCCCC;
    }
  }
}