@import './App.scss';
@import './mixins.scss';
@import './variables.scss';
@import './FuelSuppliers.scss';
@import './Dashboard.scss';
@import './Notifications.scss';
@import './Opportunities.scss';
@import './CreditTransfers.scss';
@import './HistoricalDataEntry.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  position: relative; 
  padding: 2rem;
  padding-bottom: 70px;

  @include tablet {
    padding-top: 30px !important;
  } 
}

#root, 
[data-reactroot], 
#root > div,
#root div.App {
  height: 100%;
}

#header{
  color: $white;

  #display_name{
    color: $white;
    text-align: right;
    margin-top: 1rem;
  }

  #user_organization{
    font-size: 1.2rem;
    font-style: italic;
    display: block;
    text-align: right;
  }
}

#header .bcgov-title h1 {
  font-weight: 400;
}

h1 {
  font-weight: 500;

  @include  mobile {
    font-size: 1.5rem;
  }
}

.btn {
  margin: 0 0.3em;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.btn-no-style {
  background: none;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

.btn-container {
  .btn + .btn {
    margin-left: 0.5rem;
  }
}

.not-implemented:hover {
  position: relative;
  z-index: 10000;

  &:after {
    content: 'Not implemented';
    display: inline-block;
    background: white;
    padding: 0.5rem;
    color: black;
    position: absolute;
  }
}

// Tables 

table {
  margin: 0;
}

.form-group.form-group-sm.react-bs-table-search-form {
  padding: 0;
  display: inline-block;

  @include mobile {
    width: 100%;
  }
}

.table-bordered > thead > tr > td, 
.table-bordered > thead > tr > th {
  border-bottom-width: 0 !important;
}

.table-bordered {
  thead {
    background-color: rgba(0, 51, 102, 0.80);
    color: white;
    font-size: larger;
  }
}

.table-bordered > tbody > tr > td {
  border-bottom: none;
}

.table-bordered > tbody > tr {
  &:nth-child(even) {
    background-color: #f4f6f9;
  }
}


.account-activity-table, 
.fuel-suppliers-table, 
.our-opportunities-table, 
.open-opportunities-table, 
.correspondence-table, 
.history-table {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .header {
    padding: 0;
  }

  .right-toolbar-container { 
    float: right;

    @include tablet {
      float: none;
    }

    .checkbox {
      display: inline-block;
      margin: 0 1rem 0 3rem;
    }

    .actions-container {
      display: inline-block;

      @include mobile {
        margin-bottom: 0.5rem;
      }
    }
  }

  .react-bs-table .table-bordered {
      min-width: 700px;
    }
  }

  .proposal-description {
    width: 50%;
    white-space: pre-wrap;
  }

  .actions {
    white-space: pre-wrap;
  }

  .simple-btn {
    background: none;
    border: none;
    color: $link-color;
    padding: 0.5rem;
  
    &:hover {
      color: $link-color-hover;
    }
  }

  .counter-btn {
    display: inline-block;
    padding: 0.5rem;
  }

  .recent-account-activity-container {
    margin: 0.5rem 0;

    h2 {
      display: inline-block;
      margin: 0;
    }

    .view-all {
      float: right;
    
      @include mobile {
        display: block;
        float: none;
      }
    }
  }

  .modal {

    .note {
      width: 100%;
      resize: none;
    }

    .alert-success {
      margin: 1rem 0 0 0;
    }
  }

.react-bs-table .table-bordered > tbody > tr > td {
  white-space: pre-wrap;
  word-break: break-word;
}

.react-bs-table-bordered {
  margin: 1em 0;
}


