.level2Navigation .container, #navbar {
  position: relative;

  a {
    border-bottom: 1px solid transparent;
    text-decoration: none;
  }

  .active {
    border-bottom: 1px solid $white;
  }

  #navbar-notifications {
    font-size: 2.5rem;
    font-weight: normal;
    height: 100%;
    padding: 0.25rem 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 5rem;

    &.active {
      border-bottom: 1px solid $white;
    }

    &:after {
      display: none;
    }

    .fa-layers-counter {
      font-size: 4rem;
    }
  }
}