@import './variables.scss';
@import './mixins.scss';

.page_notifications {
  .col-actions, .col-mark {
    text-align: center;
  }

  .col-credit-trade, .col-date, .col-notification, .col-organization, .col-user {
    text-align: left;
  }
}

.notification-table {

  .read {
  }

  .unread {
    font-weight: bold;
  }

}
