@import './variables.scss';
@import './mixins.scss';

.page_notifications {
  .col-actions {
    text-align: center;
  }

  .col-mark {
    text-align: center;

    .fa-square, .fa-check-square {
      cursor: pointer;
    }
  }

  .col-credit-trade, .col-date, .col-notification, .col-organization, .col-user {
    text-align: left;
  }
}