@import './variables.scss';
@import './mixins.scss';

.page_organization {
  .actions-container {
    margin-bottom: 1rem;
  }

  .address, .status {
    font-size: 1.5rem;
    margin-bottom: 2rem;

    dd {
      margin-left: 80px;

      &.status-description {
        font-size: 1.2rem;
        font-style: italic;
        margin-top: 1rem;
      }
    }

    dt {
      font-weight: normal;
      text-align: left;
      width: 80px;
    }
  }

  .btn-container {
    margin-top: 20px;
    text-align: right;
  }

  .col-actions {
    a {
      margin: 0 0.5rem;
    }
  }

  .col-status {
    text-align: center;
  }

  .credit_balance {
    float: right;

    .reserved {
      margin-top: 1rem;
    }
  }
}

.page_organizations {
  .actions-container {
    margin-bottom: 1rem;
  }

  .ReactTable {
    a {
      font-weight: bold;
    }

    .col-actions-type-display, .col-status-display {
      text-align: center;
    }

    .col-credit-balance, .col-deductions, .col-id, .col-last-transaction {
      text-align: right;
    }
  }
}

.organization-edit-details {
  .main-form {
    margin-left: -15px;
    margin-right: -15px;

    label {
      font-weight: normal;
      width: 100%;
    }
  }

  .organization-actions {
    .btn-container {
      text-align: right;
    }  
  }

  .read-only {
    border: none;
    box-shadow: none;
  }
}
.error-message {
  color: red; 
  font-size: 1.5rem;
  margin-top: 0.5rem; 
}

