@import './variables.scss';
@import './mixins.scss';

.page_organization {
  .col-status {
    text-align: center;
  }

  .credit_balance {
    float: right;
  }

  .address, .status {
    font-size: 1.5rem;
    margin-bottom: 2rem;

    dd {
      margin-left: 80px;
    }

    dt {
      font-weight: normal;
      text-align: left;
      width: 80px;
    }
    
  }
}

.page_organizations {
  .actions-container {
    margin-bottom: 1rem;
  }

  .ReactTable {
    a {
      font-weight: bold;
    }

    .col-actions-type-display, .col-status-display {
      text-align: center;
    }

    .col-credit-balance, .col-id, .col-last-transaction {
      text-align: right;
    }
  }
}