@import './variables.scss';
@import './mixins.scss';

.page_organization {
  .col-status {
    text-align: center;
  }

  .credit_balance {
    float: right;
  }

  .status {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.page_organizations {
  .ReactTable {
    .col-actions-type-display, .col-status-display {
      text-align: center;
    }

    .col-credit-balance, .col-id, .col-last-transaction {
      text-align: right;
    }
  }
}