@import './variables.scss';
@import './mixins.scss';

.ReactTable {
  .-filters .rt-th input[type=text] {
    border-color: $border-grey;
  }

  .-header .rt-th {
    border-color: $border-grey;
    outline: none;
  }

  .rt-tr {
    &.-odd {
      background-color: $background-grey;
    }

    &.even {
      background-color: $background-grey !important;
    }

    &.odd {
      background-color: white !important;
    }

    &.clickable:hover {
      background-color: $yellow !important;
      cursor: pointer;
    }
  }

  .col-actions {
    text-align: center;
  }
}
