@import './variables.scss';
@import './mixins.scss';

.ReactTable {
  .-filters .rt-th input[type=text] {
    border-color: $border-grey;
  }

  .-header .rt-th {
    border-color: $border-grey;
    outline: none;
  }

  .rt-tr {
    &.-odd {
      background-color: $background-grey;
    }

    &.clickable:hover {
      background-color: $yellow;
      cursor: pointer;
    }
  }

  .col-actions {
    text-align: center;
  }
}

div.subcomponentWrapper {
  padding-left: 2em;
  padding-right: 2em;
}
span.subcomponentHeader {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 1.5em;
}
