@import './variables.scss';
@import './mixins.scss';

.ReactTable {
  .rt-tr {
    &.-odd {
      background-color: $background-grey;
    }

    &.clickable:hover {
      background-color: $yellow;
      cursor: pointer;
    }
  }
}