.page_schedule, .schedule-summary {
  .inactive {
    display: none;
  }

  .schedule-totals {
    background-color: $background-grey;
    border-radius: 0.5rem;
    border: 1px solid $border-grey;
    bottom: 0;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .3);
    cursor: move;
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    width: 30rem;
    z-index: 2000;

    &.schedule-b {
      width: 40rem;

      .debit {
        padding-right: 1rem;
      }

      .net-total {
        border-top: 1px solid $primary;
        padding-top: 1rem;
      }
    }

    h2 {
      font-weight: bold;
    }

    .row {
      margin: 1rem 0;
    }

    .value {
      overflow: hidden;
      padding-left: 0;
      text-align: right;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }
  }

  .sticky {
    bottom: 20rem;
    position: sticky;
  }

  .draggable-bounds {
    position: relative;

    .spacer {
      margin-bottom: 2rem;

      &.schedule-a {
        height: 26rem;
      }

      &.schedule-b {
        height: 16rem;
      }
    }
  }
}

// columns
.schedule-a {
  .address {
    min-width: 40rem;
  }

  .fuel-class {
    min-width: 25rem;
    width: 25rem;
  }

  .organization {
    min-width: 35rem;
    width: 35rem;
  }

  .quantity {
    min-width: 20rem;
    width: 20rem;
  }

  .row-number {
    min-width: 4rem;
    width: 4rem;
  }

  .transfer-type {
    min-width: 25rem;
    width: 25rem;
  }
}

.schedule-b {
  .credit, .debit {
    min-width: 8rem;
  }

  .density {
    min-width: 12rem;
    width: 12rem;
  }

  .energy-content {
    min-width: 10rem;
    width: 10rem;
  }

  .energy-effectiveness-ratio {
    min-width: 7rem;
    width: 7rem;
  }

  .fuel-class {
    min-width: 12rem;
    width: 12rem;
  }

  .fuel-code {
    min-width: 15rem;
    width: 15rem;
  }

  .fuel-type {
    min-width: 20rem;
    width: 20rem;
  }

  .quantity {
    min-width: 12rem;
    width: 12rem;
  }

  .provision {
    min-width: 35rem;
    width: 35rem;
  }

  .row-number {
    min-width: 4rem;
    width: 4rem;
  }

  .units {
    min-width: 10rem;
    width: 10rem;
  }
}

.schedule-c {
  .expected-use {
    min-width: 30rem;
    width: 30rem;
  }

  .fuel-class {
    min-width: 25rem;
    width: 25rem;
  }

  .fuel-type {
    min-width: 25rem;
    width: 25rem;
  }

  .other {
    min-width: 30rem;
  }

  .quantity {
    min-width: 25rem;
    width: 25rem;
  }

  .row-number {
    min-width: 4rem;
    width: 4rem;
  }

  .units {
    min-width: 20rem;
    width: 20rem;
  }
}

.schedule-d {
  &.input {
    margin-bottom: 2rem;
  }

  &.output {
    margin-bottom: 2rem;
    min-width: 600px;
    width: 50%;

    .cell.output-label {
      text-align: left;
      width: 40%;
    }

    .total {
      font-weight: bold;
    }
  }

  .fuel-class {
    min-width: 200px;
  }

  .fuel-type, .feedstock {
    min-width: 200px;
    width: 33%;
  }

  .row-number {
    min-width: 4rem;
    width: 4rem;
  }

  .units, .worksheet-cell, .worksheet-value {
    min-width: 20rem;
    width: 20rem;
  }

  .worksheet-name {
    min-width: 30rem;
    width: 30rem;
  }
}

.schedule-tabs {
  margin: 0 -3rem 2rem;
  padding: 0 3rem;
}

.schedule-d-tabs {
  margin-bottom: 2rem;

  li {
    float: right;
    margin-left: 1rem;

    &.active button {
      border: 1px solid $border-grey;
      border-bottom: none;
    }

    button {
      background-color: $white;
      border: none;
      border-radius: 4px 4px 0 0;
      color: $link-color;
      padding: 1rem;
    }
  }
}

.page_schedule .data-grid-container {
  min-width: 1200px;
}

.schedule-buttons {
  background-color: $background-grey;
  border: 1px solid $border-grey;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: right;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    text-align: left;

    * {
      text-align: left !important;
    }
  }

  .right {
    text-align: right;
  }

  &.btn-container {
    .btn, .overlay-trigger {
      margin: 0 0.4rem;
    }  
  }
}

.schedule-summary {
  > .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .credits {
    min-width: 10rem;
    width: 10rem;
  }

  .data-grid-container .cell {
    &.numeric {
      text-align: right;
    }
  }

  .cad {
    min-width: 20rem;
    width: 20rem;
  }

  .col-lg-6 {
    margin-bottom: 2rem;
  }

  .line {
    min-width: 10rem;
    width: 10rem;
  }

  .litres {
    min-width: 15rem;
    width: 15rem;
  }

  .summary-label {
    min-width: 30rem;
  }

  .total, .header {
    font-weight: bold;
  }
}