.page_schedule {
  .data-grid-container {
    display: block;
  
    .schedule {
      width: 100%;
    
      &.data-grid .cell {
        height: 4rem;
        padding: 0.5rem;
        vertical-align: middle;

        &.editing {
          padding: 0;

          input, select {
            height: 100%;
            padding: 0.5rem 1rem;
            width: 100%;
          }
        }

        &.number {
          text-align: right;

          > div {
            position: relative;
            height: 100%;
          }

          input {
            text-align: right
          }
        }

        &.text, &.text input {
          text-align: left;
        }

        input {
          min-height: 2rem;
        }

        select {
          width: 100%;
        }
      }
    }
  }

  .sheet-buttons {
    margin-bottom: 17rem;
    text-align: right;

    button {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0;
    }

    .btn-group {
      float: left;
    }
  }
}

.schedule-tabs {
  margin: 0 -3rem 2rem;
  padding: 0 3rem;
}

.schedule-totals {
  background-color: $background-grey;
  border: 1px solid $border-grey;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .3);
  bottom: 7rem;
  font-size: 1.5rem;
  padding: 1rem;
  position: fixed;
  right: 3rem;
  width: 40rem;

  h2 {
    font-weight: bold;
  }

  .row {
    margin: 1rem 0;
  }

  .value {
    overflow: hidden;
    padding-left: 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}