@import './variables.scss';
@import './mixins.scss';

.page_settings {
  .info-alert {
    background-color: transparent;
    border: none;
    color: unset;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 2rem; /* allocate space for icon */
    position: relative;

    &:before {
      color: $blue;
      @include vertical-middle {
        font-size: 2.5rem;
        left: 0;
        text-align: center;
        width: 4rem;
      }
    }
  }

  .settings-notifications {

    h3 {
      margin: 2rem 0 1rem;
    }

    .btn-container {
      margin-top: 1rem;
      text-align: right;
    }

    .pagination-bottom {
      display: none;
    }
  
    .rt-td {
      &.col-action {
        align-self: center;
      }
  
      &.col-in-app, &.col-email, &.col-sms {
        font-size: 1rem;
        text-align: center;
      }
    }
  
    .rt-th {
      background-color: $grey;
      font-weight: bold;
  
      &.col-action {
        text-align: left;
      }
    }
  
    .rt-tr {
      &.-odd {
        background-color: $background-grey;
      }
    }
  }
}
