@import './variables.scss';
@import './mixins.scss';

.page_admin_user {
  label {
    display: block;
    font-weight: normal;
  }

  .main-form {
    margin-left: -15px;
    margin-right: -15px;

    .roles {
      .checkbox-group {
        margin-bottom: 1rem;

        .fa-check-square, .fa-square {
          vertical-align: middle;
        }

        .fa-key, .fa-user-lock {
          margin-left: 0.5rem;
        }

        .text {
          display: inline-block;
          font-weight: bold;
          margin-left: 0.5rem;
          vertical-align: middle;
        }
      }
    }
  }

  .btn-container {
    text-align: right;
  }
}

.page_user {
  > div {
    > div + div {
      margin-top: 1rem;
    }
  }

  .col-action, .col-actions, .col-type {
    text-align: center;
  }

  .col-id {
    text-align: right;
  }

  .user_history {
    margin-top: 3rem;
  }
}

.tooltip .permission {
  font-weight: bold;
  margin: 0;
  text-align: left;
}
