$link-color: #1a5a96;
$link-color-hover: #5091cd;

$background-grey: #f2f2f2;

$blue: #38598a;

$border-grey: #d0d0d1;

$font: #494949;

$light-font: #8a9198;
$medium-font: #616265;

$light-blue: #d9e3f7;
$light-red: #f8d7da;

$green: #486446;

$grey: #bcbec5;

$primary: #002663;

$red: #d8292f;
$dark-red: #a12622;

$white: white;

$yellow: #fade81;
$dark-yellow: #f3bd48;

$focus: #66afe9;
$selected-cell: rgb(33, 133, 208);