$link-color: #1a5a96;
$link-color-hover: #00F;

$background-grey: #f5f5f5;

$blue: #23468c;

$border-grey: #dddddd;

$light-font: #999999;
$medium-font: #666666;

$light-blue: #d9e3f7;
$light-red: #f8d7da;

$green: green;

$grey: #cccccc;

$red: #990000;

$white: white;

$yellow: #fcf8e3;
